/* app css stylesheet */

/**
 * Import Font
 */

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);

body {
  font-family: "Open Sans", sans-serif;
}

/**
 * Menu
 */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}


/**
 * Bootstrapping directives
 */

detailed-question,
list-header {
  display: block;
}


.label {
  font-weight: 400;
}


/**
 * Main layout
 */

.rightPane {
}


/**
 * Navbar
 */

.brand-image {
  float: left;
  margin: 10px 10px 10px 0;
}


.main .leftPane .question .question-active {
  background-color: #00FF00;
}


/**
 * Creator Screen
 */


/**
 * Question list
 */

.question-list-header {
}

.question-list-header h2 {
  padding-right: 15px;
}

.question-list-header .add-question {
  margin-top: 28px;
  display: block;
}

.question-button-group {
  margin-bottom: 20px;
}


.question-list-content {
  margin-top: 20px;
}

.question-list-content .question {
  border-bottom: 1px solid #ddd;
}


.question .question-checkbox {
  margin-top: 27px;
  display: block;

}

.question-list-content .question-title {
  padding-right: 10px;
}

.asked {
  color: #aaa;
}

.type-icon-holder {
}

.type-icon {
  width: 40px;
  margin-top: 15px;
}

.presenterQuestion .type-icon-holder {
  text-align: right;
}

.question-list-content .pencil-holder {
  margin-top: 24px;
}


.time-is-going-on {
  text-align: center;
  font-size: 100px;

}

.wait-for-audience {
  text-align: center;
}