<div class="well">
	<h2>Details: {{ activeQuestion.question }}</h2>

	<div ng-show="activeQuestion !== undefined && activeQuestion.status !== 'asked'">
	<form>
		<div class="form-group">		
			<label>Question:</label>
			<input class="form-control" type="text" ng-model="activeQuestion.question">
		</div>

		<div class="form-group">
			<label>Type:</label>		
			<select ng-model="activeQuestion.type" class="form-control">
				<option value="yes-no">Yes/No</option>
				<option value="numerical">Numerical</option>
				<option value="likert">Rating</option>
				<option value="quiz">Quiz</option>
				<option value="mc">Multiple Choice</option>
			</select>
		</div>

		<numerical ng-show="activeQuestion.type === 'numerical'"></numerical>
		<choice ng-show="activeQuestion.type === 'mc' || activeQuestion.type === 'quiz'"></choice>

		<button type="submit" ng-click="submit()" class="btn btn-default">{{ activeQuestion.status === 'new' ? 'Add question' : 'Submit changes' }}</button>
	</form>
	</div>
	<div ng-show="activeQuestion.status === 'asked'">
		<div class="alert alert-danger">Question already asked!</div>
	</div>
	<div ng-show="activeQuestion === undefined">
		Please select a question from the list to edit it.
	</div>
</div>