<div class="btn-group btn-group-sm" role="group" aria-label="...">

	<button class="btn btn-primary" type="button" ng-click="startPresentation()">
		<span class="glyphicon glyphicon-blackboard" aria-hidden="true"></span>
		Start presentation
	</button>

	<button class="btn btn-danger" type="button" ng-click="removeChecked()">
		<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
		Remove selected
	</button>

</div>