<div class="creatorScreen row" ng-show="!presenting">
	<div class="leftPane col-sm-6">
		<question-list></question-list>
	</div>
	<detailed-question class="rightPane col-sm-6"></detailed-question>
</div>

<div class="presenterScreen" ng-show="presenting">
	<presenter-list></presenter-list>
</div>