<div ng-show="!questionActive">

	<p>
		Choose a question to ask it to the audience.
	</p>

	<div ng-repeat="question in presentationQuestions | reverse" class="presenterQuestion clearfix well {{ question.status === 'asked' ? 'asked' : '' }}" ng-click="askQuestion(question)">
		<h3 class="pull-left"><span class="glyphicon glyphicon-play" aria-hidden="true"></span> {{question.question}}</h3>
		

		<div class="type-icon-holder">
			<img src="images/{{question.type}}.png" alt="" class="type-icon">
		</div>		
	</div>
	<button class="btn btn-default" ng-click="backToCreatorMode()">Back to question list</button>
</div>

<div ng-show="questionActive">

	<div class="time-is-going-on">
		<span class="glyphicon glyphicon-time" aria-hidden="true"></span>
	</div>

	<div class="wait-for-audience">

		<p>Now wait for your audience to answer the question.</p>
		
		<button class="btn btn-danger" ng-click="stopAskingQuestion()">
			<span class="glyphicon glyphicon-stop" aria-hidden="true"></span> Stop asking the question
		</button>
	</div>
</div>