<header class="question-list-header clearfix">


	<h2 class="pull-left">Question List</h2>

	<a class="add-question" ng-click="createQuestion()">
		<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
		Add Question
	</a>

</header>


<section class="question-list-content">



	<list-header class="question-button-group"></list-header>

	<div ng-repeat="question in questions | reverse" class="question row clearfix {{ question.status === 'asked' ? 'asked' : '' }}" ng-click="questionSelected(question)">
		<div class="checkbox-holder col-xs-1">			
			<input type="checkbox" ng-model="question.checked" class="question-checkbox">
		</div>
		<div class="question-content col-xs-9">
			<header class=clearfix>
				
				<h3 class="question-title pull-left">{{question.question}}</h3>
				<div class="pencil-holder">					
					<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
				</div>
			</header>
		</div>

		<div class="type-icon-holder col-xs-2">
			<img src="images/{{question.type}}.png" alt="" class="type-icon">
		</div>
	</div>
	
</section>