<div class="form-group">
	<label>Minimal value:</label>
	<input type="number" name="min" ng-model="activeQuestion.typeSpecific.min" class="form-control">		
</div>
<div class="form-group">
	<label>Maximal value:</label>
	<input type="number" name="min" ng-model="activeQuestion.typeSpecific.max" class="form-control">
</div>